@media screen and (max-width: 840px) {
	#popup {
		z-index: 30 !important;
		overflow: auto;
	}
	.toggles {
		display: grid;
		grid-auto-flow: column
	}
}

.popup-body {
	max-width: 840px !important;
	max-height: 100vh !important;
	flex: none !important;
	padding: 1rem !important;
	background: #1c1f22 !important;
	border-radius: 2px !important;
	display: flex !important;
	flex-direction: column !important;
	margin: 0 auto !important;
	border: 0 !important;
}

.series .completed .series-title:before {
	padding-right: 10px;
	font-size: 1.2rem;
	content: "✔️";
	display: grid;
	align-content: center;
}

.series .plan-to-watch .series-title:before {
	content: "⏱️";
	display: grid;
	align-content: center;
	padding-right: 10px;
	font-size: 1.2rem;
}

.series .watching .series-title:before {
	content: "📺";
	display: grid;
	align-content: center;
	padding-right: 10px;
	font-size: 1.2rem;
}
