@media screen and (max-width: 840px) {
	#atp-watch-list-entries {
		min-width: 100vw !important;
		min-height: 100vh !important;
		padding: 20px;
	}
	#atp-watch-list-entries  .close {
		display: initial !important;
	}
}

#atp-watchlist {
	position: absolute;
	display: grid;
	grid-gap: 10px;
}

#atp-watch-list-entries {
	min-width: 450px;
	display: grid;
	grid-gap: 10px;
}

#atp-watch-list-entries  .close {
	display: none;
}

#atp-watch-list-entries h2 {
	border-bottom: 1px solid #80808036;
	padding-bottom: 5px;
}

#atp-watch-list-entries .list {
	max-height: 20vh;
	overflow: auto;
	display: grid;
	padding: 5px;
	grid-gap: 10px;
	box-shadow: inset 0px -6px 7px #0000004f;
}

#atp-watch-list-entries .controls {
	margin-top: 5px;
	display: grid;
	grid-gap: 10px;
}

#atp-watch-list-entries .controls .clear {
	background-color: #ff000026;
}

.entries-completed .atp-watch-list-entry {
	background-color: #0080260d;
}

.atp-watch-list-entry {
	display: grid;
	padding: 5px;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-gap: 15px;
}

.atp-watch-list-entry .controls {
	display: grid;
	align-items: center;
	grid-auto-flow: column;
	grid-gap: 5px;
}

.atp-watch-list-entry .controls a {
	opacity: 0.5;
}

.atp-watch-list-entry .controls a:hover {
	opacity: 1;
}